@import 'tailwindcss';

:root {
  --background: #232326;
  --foreground: #b7b7b7;
}

.dark {
  --background: #b7b7b7;
  --foreground: #232326;
}

body {
  background: var(--background); /* dark 모드 그대로 */
  color: var(--foreground); /* dark 모드의 반대로 */
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
