@import 'tailwindcss';

/* 다크모드(기본) */
:root {
  --background: #232326;
  --foreground: #e6e6e6;
  --layer: #2c2d2e;
}

/* 라이트모드 */
.dark {
  --background: #f3f5f7;
  --foreground: #191f28;
  --layer: #e6e6e6;
}

body {
  background: var(--background); /* dark 모드 그대로 */
  color: var(--foreground); /* dark 모드의 반대로 */
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor-blink::after {
  content: '|';
  animation: blink 1s step-start infinite;
  margin-left: 2px;
}
